.form__row {
  display: flex;

  width: calc(100% + calc(var(--unit) * 2));
  margin: 0 calc(var(--unit) * -1);
}

.form__row > * {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  width: 100%;
  margin: calc(var(--unit) * 1.5) var(--unit);

  flex-basis: 100%;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .form__row {
    width: 100%;
    flex-direction: column;
  }

  /*Safari has big issues with display flex*/
  .form__row > * {
    display: block !important;
  }

}
