.error-fetching {
  margin-top: var(--unit);
  margin-bottom: var(--unit);

  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.error-fetching .error-fetching__text,
.error-fetching .error-fetching__retry {
  padding-top: var(--unit);
  padding-bottom: var(--unit);
}

.error-fetching .error-fetching__retry {
  opacity: 0.8;

  cursor: pointer;
  transition: opacity 0.2s ease;
}

.error-fetching .error-fetching__retry:hover {
  opacity: 1;
}
