.account .react-tabs__tab-list {
  justify-content: flex-start;
}

.account .react-tabs__tab {
  margin-right: calc(var(--unit) * 2);
}

.account__settings {
  padding: calc(var(--unit) * 8) calc(var(--unit) * 2);
  max-width: calc(var(--unit) * 70);
  margin: auto;
}

/*invoice list*/
.invoices {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 var(--unit);
  margin-top: calc(var(--unit) * -1)-10px;
}

.invoices__card {
  display: table-row;
  background-color: white;
  padding: 0 var(--unit);
  list-style: none;
}

.invoices__card small {
  display: block;
}

.invoices__card .t-icon-link {
  justify-content: flex-end;
}

.invoices__info {
  display: table-cell;
  vertical-align: middle;
  padding: var(--unit);
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  white-space: nowrap;
}

.invoices__info:first-child, .invoices__info:last-child {
  border-radius: calc(var(--unit) / 2);
}

.invoices__info:first-child {
  border-left: 1px solid var(--light);
  padding-left: calc(var(--unit) * 2);
}

.invoices__info:last-child {
  border-right: 1px solid var(--light);
  padding-right: calc(var(--unit) * 2);
}

.empty-state a {
  margin-top: calc(var(--unit) * 3)
}

.empty-state__text {
  max-width: calc(var(--unit) * 38);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .account__settings {
    padding:  calc(var(--unit) * 2)  calc(var(--unit) * 2) calc(var(--unit) * 4) calc(var(--unit) * 2);
    max-width: calc(var(--unit) * 80);
  }

  .invoices__info {
    font-size: 0.9em;
  }

  .invoices__info {
    padding: calc(var(--unit) / 2);
  }

  .invoices__info:nth-child(2) {
    display: none;
  }

  .invoices__info:first-child {
    padding-left: var(--unit);
  }

  .invoices__info:last-child {
    padding-right: var(--unit);
  }

  .invoices__info:last-child span {
    display: none;
  }

}
