.btn {
  position: relative;

  display: inline-flex;

  margin: 0;
  padding: calc( var(--unit) * 1.5) calc( var(--unit) * 2);

  font-family: 'Apercu', sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;

  color: var(--white);
  border: 0;
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--green);

  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  transition: padding 0.2s ease,
              background-color 0.2s ease;

  align-items: center;
  appearence: none;
  -webkit-appearence: none;
}

.btn:hover, .btn:focus {
  background-color: var(--dark-green);
}

.btn:active {
  box-shadow: inset 0 1px 4px 0 rgba(48,67,81,0.5);
}

.btn:hover, .btn:active {
  outline: none;
}

.btn--big {
  padding: calc( var(--unit) * 2 ) calc( var(--unit) * 3 );
}

.btn--disabled {
  color: var(--grey);
  background-color: var(--very-light);

  cursor: default;
  pointer-events: none;
}

.btn--orange {
  background-color: var(--orange);
}

.btn--orange:hover {
  background-color: var(--dark-orange);
}

.btn--link {
  color: white;

  text-decoration: none;
}

/* Loading */

.btn--will-loading::after {
  position: absolute;
  top: 50%;
  right: calc(var(--unit) * 2);

  width: 10px;
  height: 10px;
  margin-top: -7px;
  margin-left: var(--unit);

  opacity: 0;
  border: 2px solid var(--white);
  border-left: 2px solid transparent;
  border-radius: 100%;

  content: '';
  transition: opacity 0.2s ease;
  animation: rotating 1s linear infinite;
}

.btn--loading {
  padding-right: calc(var(--unit) * 5);

  background-color: var(--aluminum) !important;

  pointer-events: none;
}

.btn--loading::after {
  opacity: 1;
}
