.checkout-summary {
  padding-top: calc(var(--unit) * 4);
  padding-bottom: calc(var(--unit) * 5);

  border-bottom: 1px solid var(--almost-very-light);
}

.checkout-summary__item {
  width: 100%;
  margin-bottom: calc(var(--unit) * 2);

  align-items: center;
  justify-content: space-between;
}

.checkout-summary__item:last-child {
  margin-bottom: 0;
}
