.header-link {
  padding: var(--unit) 0;

  color: var(--dark);

  transition: color 0.2s ease;
  text-decoration: none;
}

.header-link:hover,
.header-link.active {
  color: var(--green);
}

.header-link.active {
  pointer-events: none;
}


@media screen and (max-width: 768px) {
  .header-link.active,
  .header-link.active {
    color: initial;
    background-color: var(--almost-very-light);
  }
}
