.l-sidebar {
  z-index: 9;

  width: var(--sidebar-width);

  background-color: var(--very-light);
  box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.05),
              -1px 0px 0px 0px var(--white);

  flex-shrink: 0;
}
